name: CI

on:
- push
- pull_request

jobs:
  unittest:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: run
      run: |
        sudo apt-get install -y make tox libapt-pkg-dev
        tox -e py3

  lint:
    runs-on: ubuntu-24.04
    steps:
    - uses: actions/checkout@v4
    - name: lint
      run: |
        sudo apt-get install -y make tox libapt-pkg-dev
        tox -e py3-pyflakes,py3-flake8
